global !p
import subprocess
def open_algo_docs():
	subprocess.run(["firefox", "https://www.overleaf.com/learn/latex/Algorithms"]) 
endglobal

snippet "ce(enter)?" "center block" br
\begin{center}
	$0
\end{center}
endsnippet

snippet minted "" ibA
\begin{minted}[bgcolor=mintedbg]{$1}
${VISUAL}$0
\end{minted}
endsnippet

snippet item "itemize" ibA
\begin{itemize}[label=\textbullet]
	\item $0
\end{itemize}
endsnippet

snippet algo "insert algorithm pseudocode template" i
% NOTE: opened https://www.overleaf.com/learn/latex/Algorithms$1
\begin{algorithm}
	\begin{algorithmic}[1]
		$0
	\end{algorithmic}
\end{algorithm}
`!p
open_algo_docs()
`
endsnippet

snippet enum "Enum environment" ibA
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet aefig "Automatic fig" bA
figure (\ref{fig: $1})$0
\begin{figure}[h!]
    \centering
    \includegraphics[width=8cm]{./figures/${1:`ls -t ./figures | head -n1 | rev | cut -d. -f2- | rev`}} 
    \caption{$2}
	\label{fig: $1}
\end{figure}
endsnippet

snippet afig "Automatic fig" ibA
\begin{figure}[h!]
    \centering
    \includegraphics[width=8$0cm]{./figures/${2:`ls -t ./figures | head -n1 | rev | cut -d. -f2- | rev`}} 
\end{figure}
endsnippet

snippet efig "Add figure" ib
figure (\ref{fig: $1})$0
\begin{figure}[h!]
    \centering
    \includegraphics[width=8cm]{./figures/$1} 
    \caption{$2}
	\label{fig: $1}
\end{figure}
endsnippet

snippet fig "Add figure" ib
\begin{figure}[h!]
    \centering
    \includegraphics[width=8cm]{./figures$1} 
\end{figure}
endsnippet

# https://www.overleaf.com/learn/latex/Tables

snippet $ "Description" A
$$1$$0
endsnippet

snippet tabularx "Description" ibA
\begin{tabularx}{\linewidth}{c>{\centering\arraybackslash}Xc}
	\toprule
	$0
	\midrule
	\bottomrule
\end{tabularx}
endsnippet

snippet table "Description" ibA
\begin{table}[ht]
	\centering
	\begin{tabular}{|c|c|}
		\hline
		\($0\) \\
		\hline
	\end{tabular}
\end{table}
endsnippet

