global p!
from helpers.py import *
endglobal

snippet "arec|alec" "Description" brA
% LECTURE: [vlc --rate=1.35 --start-time=`xclip -o -selection clipboard` `cat ~/.cache/vlc/last-video` $1 &>/dev/null &]$0
endsnippet

snippet "rec|lec" "Description" brA
% LECTURE: [vlc --rate=1.35 --start-time=$1 &>/dev/null &]$0
endsnippet

snippet "anki" "anki shortcut" A
[$]$1[\\\$]$0
endsnippet
