global !p
import wikipedia as wiki
endglobal

snippet nse "heading" A
\section{$1}$0
endsnippet

snippet nsse "subsection" A
\subsection{$1}
endsnippet

snippet nssse "subsubsection" A
\subsubsection{$1}$0
endsnippet


snippet unse "heading" A
\section{$1}
% `xclip -o`
$0
endsnippet

snippet unsse "subsection" A
\subsection{$1}
% `xclip -o`
$0
endsnippet

snippet unssse "subsubsection" A
\subsubsection{$1}$0
% `xclip -o`
$0
endsnippet

# unnumbered headings

snippet se "heading" 
\section*{$1}
endsnippet

snippet sse "subsection" 
\subsection*{$1} 
endsnippet

snippet ssse "subsubsection" A
\subsubsection*{$1}$0
endsnippet

snippet para "paragraph" Ab
\paragraph{$1}$0
endsnippet


snippet asse "Advanced subsection" i
\subsection*{${VISUAL:}$1} 
% https://en.wikipedia.org/?curid=`!p
snip.rv = wiki.page(snip.v.text).pageid
`

`!p
import wikipedia as wiki
def wikiSum():
    return wiki.summary(snip.v.text,sentences=4)
snip.rv = wikiSum()
`
endsnippet

snippet assse "Advanced subsection" i
\subsection*{${VISUAL:}$0} 
% https://en.wikipedia.org/?curid=`!p
snip.rv = wiki.page(snip.v.text).pageid
`

`!p
import wikipedia as wiki
def wikiSum():
    return wiki.summary(snip.v.text,sentences=4)
snip.rv = wikiSum()
`
endsnippet


snippet apara "Advanced subsection" Ab
\paragraph*{${VISUAL:}$0} 
% https://en.wikipedia.org/?curid=`!p
snip.rv = wiki.page(snip.v.text).pageid
`

`!p
import wikipedia as wiki
def wikiSum():
    return wiki.summary(snip.v.text,sentences=4)
snip.rv = wikiSum()
`
endsnippet

snippet ase "Advanced subsection" i
\section*{${VISUAL:}$0} 
% https://en.wikipedia.org/?curid=`!p
snip.rv = wiki.page(snip.).pageid
`

`!p
import wikipedia as wiki
def wikiSum():
    return wiki.summary(snip.v.text,sentences=4)
snip.rv = wikiSum()
`
endsnippet


snippet ttt "Description" i
% https://en.wikipedia.org/?curid=`!p
snip.rv = wiki.page('ananans').pageid`
endsnippet
