snippet fori "For" i
for (int $1 = 0;  < $2; $1++) {
$0
}
endsnippet

snippet for "For" i
for ($1;$2;$3) {
$0
}
endsnippet

snippet fopen "Open file"
FILE *$1;
if (! ($1 = fopen( "./t.txt","$2")) ) {
	perror("Failed to open file");
	return 1;
}
$0
fclose($1);
endsnippet

snippet printx "Description" biA
printf("%d\n",x);$0
endsnippet


snippet malloc "malloc block" iA
malloc($1);
if($0 == NULL) exit(0);
endsnippet

