snippet tbf "the \textbb{} command for italic font" iA
\textbf{${VISUAL:}$1}$0
endsnippet

snippet tit "the \textbb{} command for italic font" i
\textit{${VISUAL}$1}$0
endsnippet

snippet txx "\text{}" iA
\text{$1}$0
endsnippet

snippet v "\verb!$1!$0" i
\verb!${VISUAL:}$1!$0
endsnippet

snippet t "Description" i
\term{${VISUAL:}$1}$0
endsnippet

snippet verb "" bA
\begin{verbatim}
	${VISUAL:}$1
\end{verbatim}
$0
endsnippet

